# Docker Compose Environment Variables
APP_ENV=dev
DATABASE_URL=mysql://dropcrypt:dropcrypt@mysql:3306/dropcrypt?serverVersion=8.0

# Database Configuration
DB_ROOT_PASSWORD=rootpassword
DB_NAME=dropcrypt
DB_USER=dropcrypt
DB_PASSWORD=dropcrypt
DB_PORT=3307
